<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.datemap.mappers.MapMapper">
	<insert id="createMap">
		INSERT INTO map(id,latitude, longtitude, place_name) 
		VALUES(
			#{id},
			#{latitude},
			#{longtitude},
			#{placeName}
		)
	</insert>
	<insert id="postMap" useGeneratedKeys="true" keyProperty="idx">
		INSERT INTO post(title, content, map_id, member_id)
		VALUES(
			#{title},
			#{content},
			#{mapId},
			#{memberId}
		)
	</insert>
	
	<select id ="list" resultType = "MapRegisterVO">
		SELECT
			post.title AS "title",
			post.content AS "content",
			post.member_id AS "memberId",
			post.map_id AS "mapId"
		FROM map
		JOIN post on map.id = post.map_id
		AND map.id = #{mapId}
	</select>
</mapper>