<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.datemap.mappers.MypageMapper">
	<select id="selectMyList" resultType="MyPageListVO">
		SELECT
			c.id AS id,
			c.name AS name,
			c.nickname AS nickname,
			p.title AS title,
			p.content AS content,
			p.idx AS postIdx,
			m.id AS mapId,
			m.place_name AS placeName,
			(SELECT file_name FROM file WHERE post_idx = p.idx) AS fileName
		FROM member c
		   , post p
		   , map m
		WHERE 1=1
		AND c.id = p.member_id
		AND p.map_id = m.id
		AND c.id = #{id}
		ORDER BY p.idx
	</select>
	
	<select id="selectMyDetail" resultType="MyPageDetailVO">
		SELECT
			idx AS idx,
			title AS title,
			content AS content,
			map_id AS mapId,
			place_name AS placeName,
			(SELECT file_name FROM file f WHERE post_idx = p.idx) AS fileName,
			b.id AS memberId,
			b.name AS memberName
		FROM post p,
			 map m,
			 member b
		WHERE p.map_id = m.id
		AND p.member_id = b.id
		AND p.idx = #{idx}
	</select>
</mapper>