<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.datemap.mapper.SignMapper">
	<!-- Member Join -->
	<insert id="join">
		INSERT INTO member (
			id,
			password,
			name,
			nickname,
			birthday,
			sex
		)
		VALUES (
			#{id},
			#{password},
			#{name},
			#{nickname},
			#{birthday},
			#{sex}
		)
	</insert>
	
	<!-- Member Login -->
	<select id="login" resultType="MemberDTO">
		SELECT
			id,
			name,
			nickname,
			birthday,
			sex
		FROM member
		WHERE id = #{id}
		AND password = #{password}
	</select>
</mapper>